<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dnevnikmassatela">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DnevnikMassaTela">
        <activity android:name=".Perekus" />
        <activity android:name=".Uzhin" />
        <activity android:name=".Obed" />
        <activity android:name=".Zavtrak" />
        <activity android:name=".Sovet" />
        <activity android:name=".Upr" />
        <activity android:name=".stat" />
        <activity android:name=".Foods" />
        <activity android:name=".UserActivityList" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>